*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: blanchedalmond;
    height: 100vh;
}
.ccontainer{
    text-align: center;
    border-radius:20px;
    background: gainsboro;
    padding: 50px;

}
.acontainer input,.acontainer button{
    margin: 5px;   
}
#set{
    background-color: rgb(189, 98, 113);
    padding: 5px;
}
#clear{
    background-color: rgb(90, 181, 218);
    padding: 5px;
}
.acontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}